@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(to left, #7808f0, #06bdf5);
}
.jumbotron{
  min-width:280px;
  max-width:500px;
  width:100%;
  padding: 20px 40px;
  margin:0px auto;
  border-radius:15px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.header_text{
   color: #40323A;
  font-size:28px;
  font-weight:600;
  text-shadow: 1px 1px 2px #000000;
  margin:0px 0px 20px 0px;
}
input[type=number]{
  padding-left:6px;
}
.label_container{
  margin-bottom:5px;
}
.error_container{
  margin-top:4px;
  font-size:14px;
}
.error_container, .label_container {
  float: left;
  margin-left: 4px;
}

.submit_container{
  padding:25px 0;
}
.submit_btn{
  margin:0 auto;
  padding: 5px 10px;
  border-radius: 5px;
}
