<body>
  <div class="jumbotron m-1">
    <div class="header_text">Forgot Password</div>
    <form>
      <div class="form-group">
        <!-- <i class="pi pi-user"></i> -->
        <!-- <mat-icon>home</mat-icon> -->
        <!-- <span class="material-icons"> Person </span> -->


        
        <label class="label_container" for="phone">Phone :</label>
        <input
          type="number"
          placeholder="Enter Your Mobile Number"
          id="phone"
          class="form-control"
          name="phone"
          [class.is-invalid]="!phone.valid &&phone.touched"
          [class.is-valid]="phone.valid && phone.touched"
          pattern = "^((\\+91-?)|0)?[0-9]{10}$"
          #phone="ngModel"
          ngModel
          required
        />
        <div class ="text-danger error_container"  *ngIf="phone.errors?.required && phone.touched">
            Mobile Number is required.
          </div>
        <div class ="text-danger error_container" *ngIf="phone.errors?.pattern">
            Please, Enter 10 digit Mobile Number.
          </div>
        
        

        <!-- <label class="label_container">Email :</label>
        <input
          type="email"
          placeholder=" Enter Your Email"
          name="email"
          class="form-control"
          #email="ngModel"
          ngModel
          [class.is-invalid]="!email.valid && email.touched"
          [class.is-valid]="email.valid && email.touched"
          required
        />
        <small
          class="text-danger error_container"
          [class.d-none]="email.valid || email.untouched"
          >Email is required</small
        > -->
      </div>
      <!-- <div class="btn">
        <input type="submit" [disabled]="this.email===''" (click)="onSubmit()" required>
    </div> -->

      <!-- <button class="btn btn-primary" [disabled]="email.value === ''" (click)="onSubmit()">
        Submit
      </button> -->
      <div class="form-group submit_container">
        <input
          type="submit"
          [disabled]="phone.invalid"
          class="btn btn-success submit_btn"
          value="Submit"
          (click)="onSubmit()"
        />
      </div>
    </form>
  </div>
</body>
