<!-- <p-toast position="top-center" key="toastElement"></p-toast> -->
<body>
  <!-- <div class="wrapper fadeInDown"> -->
  <div class="jumbotron m-4">
    <form #userdata="ngForm" (ngSubmit)="onSubmit(userdata.value)">
      <div class="text-center mb-2">
        <span class="header_text">SIGNUP</span>
      </div>

      <div class="form-group">
        <label for="email">Email :</label>
        <input
          type="email"
          placeholder="Enter Your Email"
          id="email"
          class="form-control"
          name="email"
          [class.is-invalid]="!email.valid &&email.touched"
          [class.is-valid]="email.valid && email.touched"
          
          pattern ="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
          #email="ngModel"
          ngModel
          required
        />
        <div class ="text-danger error_container"  *ngIf="email.errors?.required && email.touched">
            Email is required.
          </div>
        <div class ="text-danger error_container" *ngIf="email.errors?.pattern">
            Please, Enter Valid Email.
          </div>
      </div>

      <!-- pattern=" /^([\w]{3,})+\s+([\w\s]{3,})+$/i" -->
      <div class="form-group">
        <label for="fullname">Full Name :</label>
        <input
          type="text"
          placeholder="Enter Your Full Name"
          id="fullname"
          class="form-control"
          [class.is-invalid]="!fullname.valid &&fullname.touched"
          [class.is-valid]="fullname.valid &&fullname.touched"
          name="fullname"
          pattern="^[a-zA-Z]{3,30}$"
          #fullname="ngModel"
          ngModel
          required/>
        <div
          class="text-danger"
          *ngIf="fullname.errors?.required &&fullname.touched"
          >Full Name is required</div
        >
        <div
          class="text-danger"
          *ngIf="fullname.errors?.pattern"
          >Min 3,Max 30 and not allowed digits & special char's</div
        >
      </div>
      
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          placeholder="Enter Your Password"
          id="password"
          class="form-control"
          pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
          [class.is-invalid]="!password.valid && password.touched"
          [class.is-valid]="password.valid && password.touched"
          name="password"
          #password="ngModel"
          ngModel
          required
        />
        <div class ="text-danger"  *ngIf="password.errors?.required && password.touched">
            Password is required.
          </div>
        <div class ="text-danger" *ngIf="password.errors?.pattern">
            Min 8, atleast 1 upper, lowercase, digit & special character
          </div>
      </div>

      <label for="gender">Gender :</label>
      <br>
      <div class="form-check-inline">
        <label class="form-check-label" for="radio1">
          <input
            type="radio"
            class="form-check-input"
            id="radio1"
            name="gender"
            value="male"
            #gender="ngModel"
            ngModel
            required
          /><label>Male</label>
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label" for="radio2">
          <input
            type="radio"
            class="form-check-input"
            id="radio2"
            name="gender"
            value="female"
            #gender="ngModel"
            ngModel
            required
          />Female
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label" for="radio3">
          <input
            type="radio"
            class="form-check-input"
            name="gender"
            value="other"
            id="other"
            #gender="ngModel"
            ngModel
          />Other
        </label>
      </div>
      <div class ="text-danger error_container"  *ngIf="gender.errors?.required && gender.touched">
            Gender is required.
      </div>

      <div class="form-group">
        <label for="phone">Age :</label>
        <input
          type="number"
          placeholder="Enter Your Age"
          id="age"
          class="form-control"
          name="age"
          [class.is-invalid]="!age.valid && age.touched"
          [class.is-valid]="age.valid && age.touched"
          
          pattern = "^[0-9]{1,3}$"
          #age="ngModel"
          ngModel
          required
        />
        <div class ="text-danger error_container"  *ngIf="age.errors?.required && age.touched">
            Age is required.
          </div>
        <div class ="text-danger error_container" *ngIf="age.errors?.pattern">
            Please, Enter your Age
          </div>
      </div>

      <!-- pattern="\d{2}/\d{2}/\d{4}" -->
      <div class="form-group">
        <label for="dob">Birth Date :</label>
        <input
          type="date"
          placeholder="dd-mm-yyyy"
          id="dob"
          class="form-control"
          name="dob"
          [class.is-invalid]="!dob.valid && dob.touched"
          [class.is-valid]="dob.valid && dob.touched"
          min="1940-01-01" max="date"
          
          #dob="ngModel"
          ngModel
          required
        />
        <div class ="text-danger error_container"  *ngIf="dob.errors?.required && dob.touched">
           Birth Date is required.
          </div>
        <div class ="text-danger error_container" *ngIf="dob.errors?.pattern || dob.errors?.valid">
            Please, Enter Valid Birth.
          </div>
      </div>



      <div class="form-group">
        <label for="phone">Phone :</label>
        <input
          type="number"
          placeholder="Enter Your Mobile Number"
          id="phone"
          class="form-control"
          name="phone"
          [class.is-invalid]="!phone.valid &&phone.touched"
          [class.is-valid]="phone.valid && phone.touched"
          
          pattern = "^[0-9]{10}$"
          #phone="ngModel"
          ngModel
          required
        />
        <div class ="text-danger error_container"  *ngIf="phone.errors?.required && phone.touched">
            Mobile Number is required.
          </div>
        <div class ="text-danger error_container" *ngIf="phone.errors?.pattern">
            Please, Enter 10 digit Mobile Number.
          </div>
      </div>
      
      <div class="text-center mb-0">
        <button [disabled]="userdata.form.invalid" class="btn btn-success">
          SUBMIT
        </button>
      </div>
      <div class="login_container ">
        <span>Already Have an Account? </span>
        <a routerLink="/login">Log In</a> 
      </div>
    </form>
    <!-- </div> -->
  </div>
</body>
