 <!-- [attr.src]="userImageUrl" -->
<!--<div class="container">
  <div class="row">
    <div class="col-md-4" style="margin-top:100px">
      <div class="  container d-flex justify-content-center">
        <div class=" p-3 py-4">
          <div class="text-center"> <img [src]="this.global_obj.presentUser?.image" alt="userPic" width="100"
              class="rounded-circle">
            <h3 class="mt-2">{{this.global_obj.presentUser?.name}}</h3> <span class="mt-1 clearfix">Front-End
              Developer</span> -->

            <!-- <small class="mt-4">I am an android developer working at google Inc at california,USA</small> -->

           <!-- <input class="text-center ml-5" style="margin-top:50px" type="file" id="myfile" name="myfile"
              (change)="handleFileInput($event.target.files)"><br><br>

            <button mat-raised-button color="primary" (click)="updateProfilePic()">Update Profile Pic</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8" style="margin-top:100px">

      <div class="row mt-2">
        <div class="col-md-6">
          <div class="form-group ml-5">
            <label for="">User_id:</label>
            <input class="form-control mt-1 mb-1 " type="text" placeholder="user Id"
              [value]="this.global_obj.presentUser?.Id" disabled>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="form-group ml-3">
            <label for="">Email:</label>
            <input class="form-control mt-1 mb-1" type="text" [value]="this.global_obj.presentUser?.email"
              placeholder="Email" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group   ml-5">
            <label for="">Name:</label>
            <input class="form-control  mt-1 mb-1" type="text" [(ngModel)]="name" placeholder="Name"
              [disabled]='isDisabled'>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ml-3">
            <label for="">Age:</label>
            <input class="form-control  mt-1 mb-1" type="text" [(ngModel)]="age" placeholder="Age "
              [disabled]='isDisabled'>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group  ml-5">
            <label for="">Gender:</label>
            <input class="form-control  mt-1 mb-1" type="text" [(ngModel)]="gender" placeholder="Gender "
              [disabled]='isDisabled'>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ml-3">
            <label for="">Dob:</label>
            <input class="form-control  mt-1 mb-1" type="date" [(ngModel)]="dob" placeholder="Dob" [value]="dob"
              [disabled]='isDisabled'>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ml-5">
            <label for="">Mobile Number:</label>
            <input class="form-control  mt-1 mb-1" type="text" [(ngModel)]="mobile_number" placeholder="Mobile No"
              [disabled]='isDisabled'>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ml-3">
            <label for="">Profession:</label>
            <input class="form-control  mt-1 mb-1" type="text" value="Frontend Developer" [disabled]='isDisabled'>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="text-center">
            <button *ngIf="isDisabled" class="btn btn-primary " (click)="editDetailsHandler()">Edit Details</button>
            <button *ngIf="!isDisabled" class="btn btn-danger " (click)="cancelHandler()">Cancel</button>
            <button *ngIf="!isDisabled" class="btn btn-warning ml-5" (click)="updateHandler()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
