:host ::ng-deep .p-password input {
  width: 30rem;
}

.container-fluid{
    background: linear-gradient(to left, #7808f0, #06bdf5);
    min-height:620px;
    height:100%;
}

#x{
  display:grid;
  justify-content: center;align-items:center;
  margin-top:15%;


}
