<!-- <p-toast position="top-center" key="toastElement"></p-toast> -->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="jumbotron text-center" id="x">
          <div class="form-group">
            <p class="text-center mb-2">
              <strong>Don't worry,Here You can reset your password!</strong>
            </p>
            <label class="mt-4" for="">Enter Newpassword</label>
            <p-password [toggleMask]="true" [(ngModel)]="newPassword">
              <ng-template pTemplate="header">
                <h6>Pick a password</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="p-mt-2">Suggestions</p>
                <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                  <li>At least one lowercase</li>
                  <li>At least one uppercase</li>
                  <li>At least one numeric</li>
                  <li>Minimum 8 characters</li>
                </ul>
              </ng-template>
            </p-password>
            <label class="mt-3" for="">Confirm Password</label>
            <p-password [(ngModel)]="confirmPassword" [feedback]="false"
              >Confirm Password</p-password
            > 
           <div class="text-center mt-3">
              <button
                [disabled]="
                  newPassword === null ||
                  newPassword !== confirmPassword ||
                  newPassword == ''
                "
                class="btn btn-success"
                (click)="onSubmit()"
              >
                submit
              </button> 
              
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



