<!-- <mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->



<!--This is navbar-->
<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'side' : 'push'" [opened]="(isHandset$ | async) === false"> -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode= "side" [opened]="(isHandset$ | async) === false">

    <mat-nav-list>
      <!-- <a mat-list-item routerLink="home"><mat-icon>home</mat-icon>Dashboard</a> -->
      <a mat-list-item routerLink="products" routerLinkActive="active">
        <mat-icon class="mr-2">rss_feed</mat-icon>Products
      </a>
      <a mat-list-item routerLink="userPost" routerLinkActive="active">
        <mat-icon class="mr-2">post_add</mat-icon>My Products
      </a>
      <!-- <a mat-list-item routerLink="createPost"><mat-icon>add</mat-icon>Createpost</a> -->
      <a mat-list-item routerLink="pro" routerLinkActive="active">
        <mat-icon class="mr-2">
          people_alt</mat-icon>Products Table
      </a>
      <a mat-list-item routerLink="myactivity" routerLinkActive="active">
        <mat-icon class="mr-2">update</mat-icon>My Activity
      </a>
      <a mat-list-item routerLink="cart" routerLinkActive="active">
        <mat-icon class="mr-2">save</mat-icon>My Cart
      </a>

      <a mat-list-item routerLink="editDetails" routerLinkActive="active">
        <mat-icon class="mr-2">mode_edit</mat-icon>Edit Details
      </a>
      <a mat-list-item routerLink="changePassword" routerLinkActive="active">
        <mat-icon class="mr-2">account_circle</mat-icon>Change Password
      </a>
      <a mat-list-item routerLink="logout" (click)="onLogout()" routerLinkActive="active">
        <mat-icon class="mr-2">exit_to_app</mat-icon>Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <mat-toolbar class="bg-primary">
      <button type="button" class="hamburger_menu" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <h5 class="text-">S-Cart</h5> -->
      <!-- <input class="form-control col-sm-2 me-3 search-bar" type="search" placeholder="Search" aria-label="Search"> -->
    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="this.loaderService.isLoading|async " class="load-spinner">
  <mat-spinner style="top:50%;left:50%;">loading...</mat-spinner>
</div>

